.App {
  text-align: center;
}

.card {
  width: 20%;
  float: left;
  display: block;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #fff;
}
.content + p {
  clear: both;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header, .wrapper {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
